<header>
    <div class="container">

        <a href="/" class="logo"><img src="assets/Nolza.png" width="100px"  alt="Nolza"> </a>
        <nav>
            <ul class="nav-ul">
                <li><a href="#login">Login</a></li>
                <li><a href="#signup">SignUp</a></li>
            </ul>

            <input type="checkbox" id="check" style="display:none;">
            <label for="check" class="checkbtn"><i id="icon" class="fa fa-bars"></i></label>
            <!-- Menu directly as sibling to ul, not inside li -->
            <ul class="menu">
                <li><a href="#profile">Profile</a></li>
                <li><a href="#settings">Settings</a></li>
                <li><a href="#help">Help</a></li>
            </ul>
        </nav>
    </div>
</header>
