

<header>
    <div class="container">
        <a>
            Nolza
        </a>
        <!--
        <nav> represents a section of a page whose purpose is to provide navigation links

        <ol> represents an ordered list rendered as a numbered list
        <ul> represents an unordered list rendered as a bulleted list    
        <li> represents an item in a list
            -->
       

        <nav>
            <ul>
                <li>
                    <a>Login</a>
                    <a>SignUp</a>
                    
                    <button class="toggle-btn">☰</button>
                    <!-- Hidden Menu -->
                    <ul class="menu">
                        <li><a href="#profile">Profile</a></li>
                        <li><a href="#settings">Settings</a></li>
                        <li><a href="#help">Help</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    
    </div>
</header>
