header {
    position: sticky;
    border-bottom: 1px solid yellow;
    padding: 0;
    background: black;
    opacity: 0.9;
}

#icon{
    color: white;
    cursor: pointer;
}

#icon:hover{
    background: black;
    color: yellow;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    background: black;
    color: yellow;
}

.container {
    display: flex; /* Use flexbox to align elements */
    justify-content: space-between; /*Spreads the child elements pushing them as far apart as possible  Space out brand and nav */
    align-items: center; /* Center items vertically */
 
    margin-right: 1em;
    margin-left: 1em;
}

nav {
    display: flex;
    align-items: center;
}

.nav-ul {
    display: flex; /* Display list items in a row */
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

nav ul li {
    margin-right: 20px; /* Space between nav items */
}

.checkbtn{
    display: block;
}

.menu{
    position: fixed;
    display: block;
    width: 10em;
    height: 30vh;
    list-style-type: none; 
    top: 5em;
    right: -1000%;
    text-align: right;
    transition: all .5s;
    
}


#check:checked ~ ul{
    right: 0;
}


/*
position: fixed  -> keeps the navigation menu in a fixed position relative to the viewpoint
it won't move when the user scrolls

*/

@media (min-width: 768px) {
    .container {
        margin-right: 4.6em;
        margin-left: 4.6em;
    }

    .menu{
        text-align: center;
    }    

}