
<body>



    <table>
        <thead>
            <tr>
                <th>Food Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let category of categories">
                <tr *ngFor="let food of category.foods">
                  <td>{{ food.name }}</td>
                  <td>{{ food.description }}</td>
                  <td>{{ category.name }}</td>
                  <td><img [src]="food.imageUrl" alt="Image of {{ food.name }}" style="width: 100px; height: auto;"></td>
                </tr>
              </ng-container>
        </tbody>
    </table>

    <app-carousel></app-carousel>
</body>