body {
    height: 100%; /* Full height for html and body to stretch the container */
    margin: 0; /* Remove default margin */
    min-height: 100vh; /* Minimum height of 100% of the viewport height */
    padding-top: 65px;
}
  