
<body>

	<div class="container p-5">
		<p class="text-center fs-3 mt-4">Admin Dashboard</p>
		<div class="row p-5">
			<div class="col-md-4 mt-2">
				<a href="#" class="text-decoration-none" routerLink="addFood">
					<div class="card card-sh">
						<div class="card-body text-center">
							<h4>Add Food</h4>
						</div>
					</div>
				</a>
			</div>


			<div class="col-md-4 mt-2">
				<a href="#" class="text-decoration-none" routerLink="addCategory">
					<div class="card card-sh">
						<div class="card-body text-center">
							<h4>Add Category</h4>
						</div>
					</div>
				</a>
			</div>


			<div class="col-md-4 mt-2">
				<a href="#" routerLink="food" class="text-decoration-none"> 
					<div class="card card-sh">
						<div class="card-body text-center">
							<h4>Food</h4>
						</div>
					</div>
				</a>
			</div>


			<div class="col-md-4 mt-4">
				<a href="#" class="text-decoration-none" routerLink="orders">
					<div class="card card-sh">
						<div class="card-body text-center">

							<h4>Orders</h4>
						</div>
					</div>
				</a>
			</div>


			<div class="col-md-4 mt-4">
				<a  href="#" class="text-decoration-none" routerLink="users">
					<div class="card card-sh">
						<div class="card-body text-center">
			
							<h4>Users</h4>
						</div>
					</div>
				</a>
			</div>


			<div class="col-md-4 mt-4">
				<a href="#" class="text-decoration-none" routerLink="admin">
					<div class="card card-sh">
						<div class="card-body text-center">

							<h4>Admin</h4>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>

</body>
